{
  "UpdateFrequencyHz": 1,
  "Telemetry": false,
  "TelemetryBaud": 9600,
  "PowerOnSelfTest": true,
  "VehicleProfile": {
    "VehicleName": "Boat",
    "ChannelMappings": {
        "Throttle":"pwm1",
        "ThrottlePID": {
            "P":1,
            "I":1,
            "D":1
        },
        "Steering":"pwm2",
        "SteeringPID": {
            "P":1,
            "I":1,
            "D":1
        }
    }
  },
  "WaypointMission": {
    "Enabled": true,
    "SaveHome": true,
    "ReturnToHome": true,
    "Speed": 10,
    "HeadingAccuracy": 1,
    "ArrivalThreshold": 75,
    "Waypoints": [40.688960279596785, -73.8864769050015]
  }
}
