{
  "UpdateFrequencyHz": 1,
  "Telemetry": false,
  "TelemetryBaud": 9600,
  "PowerOnSelfTest": false,
  "VehicleProfile": {
    "VehicleName": "Boat",
    "ChannelMappings": {
        "Throttle":"pwm1",
        "ThrottlePID": {
            "P":1,
            "I":0.1,
            "D":0.05
        },
        "Steering":"pwm2",
        "SteeringPID": {
            "P":1,
            "I":0.1,
            "D":0.05
        }
    }
  },
  "WaypointMission": {
    "Enabled": true,
    "SaveHome": true,
    "ReturnToHome": true,
    "Speed": 10,
    "HeadingAccuracy": 1,
    "ArrivalThreshold": 0.002,
    "Waypoints": [40.688960279596785, -73.8864769050015]
  },
  "Magnometer": {
    "Calibrate": true,
    "Declination": 1,
    "Inclination": 1,
    "Xmax": 0,
    "Ymax": 0,
    "Zmax": 0
  }
}
